<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	
	<!-- to activate annotation -->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	
	<!-- setter without required annotation is absent --> 
	<!-- <bean id="t" class="beans.Test">
		<property name="driver" value="oracle.jdbc.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521"></property>
		<property name="user" value="system"></property>
	</bean>  -->
	
	<!-- setter with required annotation is absent -->
	<bean id="t1" class="beans.Test">
		<property name="url" value="jdbc:oracle:thin:@localhost:1521"></property>
		<property name="user" value="system"></property>
		<property name="password" value="manager"></property>
	</bean>
	

</beans>